*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  height: 100vh;

  background: url(Images/backgrounds/6193485.jpg);
  font-family: 'Outfit', sans-serif;
  background-size: cover;
  backdrop-filter: blur(5px);
}

.title{
  text-align: center;
  margin-top: 30px;
  color: white;
  font-size: 50px;
  font-weight: 500;
  
}

#grid {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(9, auto);
  grid-template-rows: repeat(9, auto);
  width: fit-content;
  
  margin-top: 20px;
  

  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

#grid * {
  border: 0.1px solid black;
  width: 50px;
  height: 50px;
  font-size: 30px;
  display: grid;
  place-items: center;
  color: white;
  border: 1px solid rgb(135, 133, 133);
  
}

#grid > div:nth-child(9n + 1) {
  border-left: none;
}

#grid > div:nth-child(9n) {
  border-right: none;
}

#grid > div:nth-child(-n + 9) {
  border-top: none;
}

#grid > div:nth-last-child(-n + 9) {
  border-bottom: none;
}

button {
  display: block;
  margin: 40px auto;
  padding: 10px 30px;
  background-color: #291b3f;
  color: white;
  font-size: 20px;
  border-radius: 30px;
  border: none;
  
  order: 3;
  font-family: 'Chakra Petch', sans-serif;
}
