*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Anuphan', sans-serif;
}


body{
    padding: 150px;
    background: url(Images/backgrounds/newone-min.jpg);
    background-size: cover;
}


h1{
    color: white;
    font-weight: 100;
    font-size: 50px;
}

p{
    color: #c3c9f7;
    margin-top: 10px;
}

a{
    text-decoration: none;
}

#btn1{
    background-color: aquamarine; 
    margin-top: 30px;
}

#btn2{
    background-color: black;
    margin-left: 20px;
    margin-top: 30px;

}

#flink:link,#flink:visited{
    color: black;
}
#btn2 a{
    color: white;
}

img{
    height: 20px;
    margin-left: 10px;
}
button{
    padding: 13px 20px;
    
    border-radius: 30px;
    font-size: large;
}

@media only screen and (max-width: 750px)  {

    body{
        background: url(Images/backgrounds/Mobile/nowcompressed.jpg);
        background-size: cover;
        padding:150px 40px 0;
    }
    
    h1{
        font-size: 40px;
        text-align: center;
    }

    p{
        text-align: center;
    }

    #btn1{
        margin: 20px auto;
        display: block;
    }

    #btn2{
        display: block;
        margin: 20px auto;
    }

    
}