*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  background: url(/Images/backgrounds/leisure-time-g6dab9cb11_1920.jpg);
  font-family: 'Outfit', sans-serif;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}

.title{
  text-align: center;
  margin-top: 30px;
  color: white;
  font-size: 50px;
  font-weight: 500;
  color: blue;
}

#grid {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(9, auto);
  grid-template-rows: repeat(9, auto);
  width: fit-content;
  border: 1px black solid;
  margin-top: 20px;
  background-color:blueviolet;
}
#grid * {
  border: 0.1px solid black;
  width: 50px;
  height: 50px;
  font-size: 30px;
  display: grid;
  place-items: center;
  
}


button {
  display: block;
  margin-top: 30px;
  padding: 10px 30px;
  background-color: #2825cc;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  order: 3;
  font-family: 'Chakra Petch', sans-serif;
}
